#ct_insert {
    float: right;
}

#ct_popup {
    margin: 5px;
}

#ct_editarea {
    min-height: 5rem;
}

#ct_preview {
    min-height: 5rem;
}

#ct_preview_box {
    height: auto;
    padding: .6rem .75rem;
}

#ct_discipline {
    justify-content: flex-end;
    margin-bottom: 0.75rem;
}

.ct_btn_discipline {
    min-width: 220px;
}

#ct_discipline.dropdown-menu {
    min-width: 220px;
}

#ct_discipline.dropdown-item.active {
    background-color: #dc3545;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

*:focus {
    outline: transparent;
}